<% if notice.present? %>
<div class= "alert alert-success text-center mb-0">
    <h6><%= notice %></h6>
</div>
<% elsif danger.present? %>
<div class= "alert alert-danger text-center mb-0">
    <h6><%= danger %></h6>
</div>
<% end %>

<div id="imgBanner" class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4 p-3 d-inline bg-dark text-white rounded-pill">Recipe Treasures</h1>
  </div>
</div>

<div class = "container pt-2">
<div class="d-flex justify-content-between">
<div class = "d-flex">
   <h1 class = "mr-2">Recipes</h1>
   <form class="form-inline">
    <input class="form-control" type="search" placeholder="Search Your Recipes" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fas fa-caret-right"></i></button>
  </form>
</div>
<%= link_to new_recipe_path do %>
  <button class="btn btn-outline-info"><i class="fas fa-plus fa-2x"></i></button>
<% end %>
</div>

<div class="row row-cols-1 row-cols-md-2 mt-4">
<% @recipes.each do |recipe| %>
<div class="col mb-4">
<div class="card mb-3" style="max-width: 450px;">
  <div class="row no-gutters shadow">
    <div class="col-md-4">
    <% if recipe.image.attached? %>
    <%= image_tag recipe.image, class: "card-img", alt: "Recipes" %>
    <% else %>
    <img src="https://via.placeholder.com/150" class="card-img" alt="Recipes">
    <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div>
        <h6 class="card-title d-inline"><%= recipe.title %></h6>
        </div>
        <div class="float-right cardIcons"> 
   
        <%= link_to recipe, class: " text-decoration-none" do %>
        <button class="btn btn-outline-info btn-sm text-decoration-none"> <i class="fas fa-search "></i> </button>
        <% end %>

        <% if policy(recipe).edit? %>
        <%= link_to edit_recipe_path(recipe), class: "text-decoration-none" do %>
        <button class="btn btn-outline-info btn-sm "> <i class="far fa-edit "></i> </button>
        <% end %>
        <% end %>
        
        <% if policy(recipe).destroy? %>
        <%= link_to recipe, class: "text-decoration-none", method: :delete, data: { confirm: 'Are you sure?' } do %>
        <button class="btn btn-outline-danger btn-sm"> <i class="fas fa-trash-alt"></i> </button>
        <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
</div>
</div>
<%= render 'layouts/favorites' %>
