<div class="container-fluid bg-dark">
<nav class="navbar navbar-dark bg-dark container">
  <div  class = "d-flex">
  <i class="fas fa-utensils text-white fa-2x mr-2"></i>
  <%= link_to recipes_path do %>
  <div class="navbar-brand">RT</div>
  <% end %>
  
  </div>
  <form class="form-inline mr-auto">
    <input class="form-control mr-sm-2" type="search" placeholder="Find Recipe" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
  </form>
   <% if user_signed_in? %>


   <div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Account
  </button>
  <div class="dropdown-menu btn btn-outline-info" aria-labelledby="dropdownMenuButton">
  <%= link_to destroy_user_session_path, :class => "dropdown-item  text-decoration-none", method: "delete" do %>
    Logout
   <% end %>
   <%= link_to edit_user_registration_path, :class => "dropdown-item  text-decoration-none" do %>
    Edit Account
    <% end %>
  </div>
  </div>
   <% else %>

    <%= link_to new_user_session_path do %>
    <button class="btn btn-outline-info mr-2">Login</button>
    <% end %>
    <%= link_to new_user_registration_path do %>
    <button class="btn btn-outline-info ">Sign Up</button>
    <% end %>

    <% end %>
</nav>
</div>
