<div class="container-fluid bg-dark">
<nav class="navbar navbar-dark bg-dark container">
  <div  class = "d-flex">
  <i class="fas fa-utensils text-white fa-2x mr-2"></i>
  <%= link_to recipes_path do %>
  <div class="navbar-brand">RT</div>
  <% end %>
  
  </div>
  <form class="form-inline mr-auto">
    <input class="form-control mr-sm-2" type="search" placeholder="Find Recipe" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
  </form>
   <h6 class="notice text-white"><%= notice %></h6>
   <h6 class="alert text-white"><%= alert %></h6>

   <% if user_signed_in? %>

   <%= link_to destroy_user_session_path, method: "delete" do %>
    <button class="btn btn-outline-info">Logout</button>
   <% end %>

   <% else %>

    <%= link_to new_user_session_path do %>
    <button class="btn btn-outline-info mr-2">Login</button>
    <% end %>
    <%= link_to new_user_registration_path do %>
    <button class="btn btn-outline-info ">Sign Up</button>
    <% end %>

    <% end %>
</nav>
</div>
